<!-- <div class="table-responsive col-md-1"></div>
  <div ng-controller="RoseHillCtrl" class="table-responsive col-md-10">
    <h2 class="text-center">Centres De Vaccination Region Rose-Hill </h2><br></br>
     <div class="col-md-3"></div> -->
    <!-- <div class="col-md-6"> -->
        <!-- <table class="table">
              <tr>
                <th scope="col">Nom Du Centre</th>
                <th scope="col">Adress du Centre</th>
                <th scope="col">Horaire de jours</th>
              </tr>
            <tbody>
                <tr>
                  <td  ng-repeat="centreName in CentreNames" >{{centreName.name1}}</td>
                  <td ng-repeat="adress in AdressCentres">{{adress.adressCentre1}}</td>
                  <td ng-repeat="heure in HeureCentres">{{heure.heureCentre1}}</td>
                </tr>
            </tbody>
        </table></br></br> -->

      <!-- <ul>
        <li ng-repeat="centreName in CentreNames">{{centreName.name}}</li>
      </ul> -->
    <!-- </div></br></br>
    <div class="col-md-3"></div>
    <div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4">
            <a href="#/centreCovid" class="card-link ">Revenir a la page Precedente</a>
		</div>
	</div>
 </div>
 </div> -->

 
 <div class="row gutters-sm">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>John Doe</h4>
            <p class="text-secondary mb-1">Full Stack Developer</p>
            <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
            <button class="btn btn-primary">Follow</button>
            <button class="btn btn-outline-primary">Message</button>
          </div>
        </div>
      </div>
    </div>